:root
{

    --primary-color : rgb(255, 255, 255);
    --primary-nav-color : #fff;
    --text-color : rgb(44, 42, 42);
    --shadow-color : rgb(56, 55, 55);
    --link-color : #000;
    --link-color-secondary : rgb(46, 45, 45);
    --active-color : #011aff;
    --mobile-background-color : #0e0f31;
    --greetings-color : #181f59;
    --title-color : #ff7b00;
    --span-color : rgb(148, 8, 8);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans' , sans-serif;
    text-decoration: none;
    list-style-type: none;
}


                                /* START OF NAVIGATION BAR STYLINGS  */
.top-nav-bar
{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-nav-bar a:not(:first-child)
{
    padding-left: 20px;
    padding-bottom: 6px;
}

.top-nav-bar a#logo-nav-bar
{
    color: var(--text-color);
    font-size: 21px;
    font-weight: 555;
}

nav
{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    background-color: var(--primary-color);
    padding: 16px 32px;
    max-height: 60px;
    box-shadow : 0 0 5px var(--text-color);
    overflow: hidden;
}

.menu-bar
{
    display: flex;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 30px;
}

.menu-bar a
{
    color: var(--link-color-secondary);
    margin: 5px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 17px;
}

.menu-bar a span
{
    padding-bottom: 6px;
}

.menu-bar a.is-active
{
    color: var(--active-color);
    border-bottom: 2px solid var(--active-color);    
}

.menu-bar a span.links-nav-bar:hover
{
    color: var(--active-color);
    border-bottom: 2px solid var(--active-color);
}

div.bx-menu
{
    display: none;
}

                                    /* ADDING RESPONSIVENESS TO WEBSITE */

@media (max-width: 1024px)
{
       .menu-bar
       {
        position: absolute;
		top: 100%;
		right: -100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		transition: all 3s ease;
       }
       .menu-bar a.is-active 
       {
        border-bottom: 4px solid var(--active-color);
        border-radius: 10%;
        padding-left: 60px ;
        padding-right: 60px;
        color: white;
        padding-top: 25px;
       }
       .menu-bar a:not(.is-active)
       {
        color : white;
        padding-left: 60px ;
        padding-right: 60px;
        padding-top: 13px;
       }
       .menu-bar a:hover:not(.is-active)
       {
        border-bottom: 4px solid var(--active-color);
        border-radius : 10%;
       }
       .menu-bar.open-nav-bar
       {
           left: 30%;
           height: 1500%;
           background-color: var(--mobile-background-color);
           width: 70%;
           align-items: center;
       }

       div.bx-menu
       {
        display: flex;
        font-size: 32px;
        font-weight: 700;
       }

       a#logo-nav-bar
       {
        padding-left: 50px;
       }
}

                                  /* END OF NAVIGATION BAR STYLING */
                        
.main-content
{
    position: absolute;
    margin-top: 61px;
}

.greetings
{
    width: 100%;
    margin-left: 45%;
    margin-top: 43%;
    font-size: 48px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: var(--greetings-color);
    text-transform: capitalize;
    padding-bottom: 25px;
}

.greeting-title
{
    color: var(--title-color)
}

.wrapper
{
    display: inline-flex;
}

.wrapper .static-text
{
    font-size: 25px;
    font-weight: bold;
}

.wrapper .dynamic-texts
{
    margin-left: 10px;
}

.wrapper .dynamic-texts li
{
    list-style: none;
    font-size: 25px;
    font-weight: bold;
    color: var(--span-color);
}

.wrapper .dynamic-texts li span
{
    position: relative;
}

.wrapper .dynamic-texts li span::after
{
    position: absolute;
    height: 100%;
    width: 100%;
    border-right: 3px solid var(--span-color);
}