:root
{

    --primary-color : rgb(255, 255, 255);
    --secondary-color : #f7f7f7;
    --primary-nav-color : #fff;
    --text-color : rgb(44, 42, 42);
    --shadow-color : rgb(56, 55, 55);
    --link-color : #000;
    --link-color-secondary : rgb(46, 45, 45);
    --active-color : #011aff;
    --mobile-background-color : #0e0f31;
    --greetings-color : #181f59;
    --title-color : #ff7b00;
    --span-color : rgb(148, 8, 8);
    --link-color-tertiary : #fff;
    --btn-color-about : rgb(12, 42, 163);
    --btn-color-about-hover : #071385;
    --black : #000;
    --aqua : rgb(8, 215, 215);
    --white : #fff;
    --linkedin : rgb(10, 102, 194);
    --twitter : #00acee;
    --telegram : #0088cc;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
    transition: all 0.2s linear;
}



                                /* START OF NAVIGATION BAR STYLINGS  */
.top-nav-bar
{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-nav-bar a:not(:first-child)
{
    padding-left: 20px;
    padding-bottom: 6px;
}

.top-nav-bar a#logo-nav-bar
{
    color: var(--text-color);
    font-size: 21px;
    font-weight: 555;
}

nav
{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    background-color: var(--primary-color);
    padding: 16px 32px;
    max-height: 60px;
    box-shadow : 0 0 5px var(--text-color);
}

.menu-bar
{
    display: flex;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 30px;
}

.menu-bar a
{
    color: var(--link-color-secondary);
    margin: 5px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 17px;
}

.menu-bar a span
{
    padding-bottom: 6px;
}

.menu-bar a.is-active
{
    color: var(--active-color);
    border-bottom: 2px solid var(--active-color);    
}

.menu-bar a span.links-nav-bar:hover
{
    color: var(--active-color);
    border-bottom: 2px solid var(--active-color);
}

div.bx-menu
{
    display: none;
}

                                  /* END OF NAVIGATION BAR STYLING */
                        
#particles-js
{
    margin-top: 65px;
    background-color: var(--secondary-color);
    height: 100%;
}                   
.main-content
{
    margin-top: 55px;
    position: absolute;
}

.introduction
{
    margin-left: 146px;
    margin-top: 130px;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 15px;
}

.introduction h2
{
    color: var(--greetings-color);
    word-spacing: 1.5px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.introduction span
{
    color: var(--title-color);
}

.typing-text
{
    margin-left: 146px;
    font-size: 17px;
    font-weight: 1000;
}

.typing-text span
{
    color: var(--span-color);
}


.buttons-nav-bar
{
    margin-left: 150px;
    margin-top: 28px;
    background-color: var(--btn-color-about);
    width: 180px;
    height: 50px;
    padding-left: 42px;
    padding-right: 15px;
    padding-top: 16px;
    border-radius: 4.9rem;
    font-family: "Nunito", sans-serif;
    box-shadow: 0px 5px 18px var(--btn-color-about);
}

.buttons-nav-bar:hover
{
    background-color: var(--btn-color-about-hover);
    cursor: pointer;
}

.buttons-nav-bar a
{
    color: var(--link-color-tertiary);
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

i.arrow-down-btn:hover
{
    margin-left: 7px;    
}

.btn-about
{
    background-color: var(--black);
    width: 45px;
    height: 45px;
    border-radius: 1.9rem;
    margin-top: 8px;
}

.about-btns
{
    margin-left: 11px;
    margin-top: 22px;
    color: var(--aqua);
    height: 100%;
    width: 85%;
    transition: all ease 0.5s;
}

div.linkedin .fa-linkedin:hover
{
    color: var(--white);
}

div.linkedin:hover
{
    background-color: var(--linkedin);
}

div.github .fa-github:hover
{
    color: var(--white);
}

div.twitter .fa-twitter:hover
{
    color: var(--white);
}

div.twitter:hover
{
    background-color: var(--twitter);
}

div.telegram .fa-telegram:hover
{
    color: var(--white);
}

div.telegram:hover
{
    background-color: var(--linkedin);
}


/* ADDING RESPONSIVENESS TO THE WEBSITE  */

@media (max-width: 1023px)
{
       .menu-bar
       {
        position: absolute;
		top: 100%;
		right: -100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		transition: all 3s ease;
       }
       .menu-bar a.is-active 
       {
        border-bottom: 4px solid var(--active-color);
        border-radius: 10%;
        padding-left: 60px ;
        padding-right: 60px;
        color: white;
        padding-top: 25px;
       }
       .menu-bar a:not(.is-active)
       {
        color : white;
        padding-left: 60px ;
        padding-right: 60px;
        padding-top: 13px;
       }
       .menu-bar a:hover:not(.is-active)
       {
        border-bottom: 4px solid var(--active-color);
        border-radius : 10%;
       }
       .menu-bar.open-nav-bar
       {
           left: 30%;
           height: 1500%;
           background-color: var(--mobile-background-color);
           width: 70%;
           align-items: center;
       }

       div.bx-menu
       {
        display: flex;
        font-size: 32px;
        font-weight: 700;
       }

       a#logo-nav-bar
       {
        padding-left: 50px;
       }
}
